.App {
  text-align: center;
}

body{
  height: 100%;
}
.bg {
background-image: url('./pics/background.jpg');
height: 120vh;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}
