.App {
  text-align: center;
}

body, html {
  height: 100%;
  margin: 0;
}

.bg {
background-image: url('./pics/background.jpg');
height: 125vh;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

.smallbg {
  background-image: url('./pics/background.jpg');
  height: 117vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  }
